body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

.logo{
    max-width: 5%;
	height: auto;
    float:left;
}

.centre{
    text-align: center;
}

.menu {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    max-width: auto;
  }

.menu li {
    list-style-type: none;
    width: 120px;
    text-align: center;
  }

.menu a {
    border: 1px solid #D4D4D4;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
  }

.menu a.active {
    color: #00BFFF;
    background-color: #D4D4D4;
    border-color: #00BFFF;
  }

.menu a:hover {
    color: #DBDBDB;
    background-color: #D4D4D4;
    border-color: #DBDBDB;
  }

.encadre{
    border-radius: 30px;
    border-width: 5px;
    border-color: rgb(25, 26, 26);
    border-style: double;
    box-shadow: 10px 10px 5px #888;
}

h2{
      width: 100%;
      text-align: center;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

.itemPres {
    display: flex;
    vertical-align: middle;
  }

.text{
    display:inline-block;
    max-width: 65%;
    text-align: center;
    margin: auto;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.imgZoom {
    padding: 5px;
    transition: transform .2s; 
    display:inline-block;
    max-width: 25%;
	height: auto;
    margin: auto; 
  }
  
.imgZoom:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
