form{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 5px;
    border-radius: 30px;
    border-width: 5px;
    border-color: rgb(25, 26, 26);
    border-style: double;
    box-shadow: 10px 10px 5px #888;
}

.logo{
  max-width: 5%;
  height: auto;
  float:left;
} 

.menu {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    max-width: auto;
  }

.menu li {
    list-style-type: none;
    width: 120px;
    text-align: center;
  }

.menu a {
    border: 1px solid #D4D4D4;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
  }

.menu a.active {
    color: #00BFFF;
    background-color: #D4D4D4;
    border-color: #00BFFF;
  }

  .menu a:hover {
    color: #DBDBDB;
    background-color: #D4D4D4;
    border-color: #DBDBDB;
  }